Cython
librosa==0.9.1
numpy
scipy
tensorboard
torch
torchvision
torchaudio
unidecode
pyopenjtalk
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.37
num_thai==0.0.5
opencc==1.1.1
demucs
openai-whisper
gradio
