Cython
librosa
numpy
scipy
tensorboard
git+https://github.com/openai/whisper.git -q
unidecode
pyopenjtalk
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.37
num_thai==0.0.5
opencc==1.1.1
demucs
gradio
