Cython
librosa==0.9.1
numpy
scipy
tensorboard
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
unidecode
pyopenjtalk
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.37
num_thai==0.0.5
opencc==1.1.1
demucs
openai-whisper
gradio
